body
{
    background-color :red;
}
caption
{
    background-color: yellow;
    border: 2px solid black;
    color:blue;
}
iframe
{
    border: 2px solid red;
}
th
{
    border: 2px solid white;
    color: yellow;
    background-color:rgb(96, 244, 242);
}
td
{
    color: rgb(224, 25, 25);
    border: 2px solid white;
    background-color:yellow;
}
a
{
    color:black;
}
audio
{
    border: solid 2px blue;
}
